:root {
  --text-color: #000;
  --background-color: #f5f5f5;
  --link-color: ##1f1f1f;
  --link-color-hover: #3b3b3b;
  --link-color-active: #525252;
  --color-white: #fff;
  --color-black: #000;
  --color-light-gray: #dbdbdb;
}
