.label {
  display: block;
  width: 100%;
}

.input {
  width: 100%;
  padding: 4px 0;
  border: none;
  border-bottom: 1px solid var(--color-light-gray);

  &:focus {
    outline: none;
  }

  &:focus:not([readonly]) {
    border-bottom: 1px solid var(--color-black);
  }
}
