@import '~/src/app/styles/breakpoints';

.form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;

  @media only screen and (width >= $breakpoint-tablet) {
    flex-direction: row;
  }
}

.field {
  display: flex;
  gap: 12px;
  align-items: flex-end;
  max-width: 300px;
}
